.todisplay{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    p{
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}
.todisplay-100{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.progress-bar{
    position: relative;
    z-index: 1;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbf8f8;
    .progress-container{
        height: 50%;
        width: 80%;
        display: flex;
        flex-direction: column;
        .text-description{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            margin: auto;
            padding-top: 5px;
        }
        p{
            width: 100%;
            margin: auto;
            font-size: 12px;
            text-align: center;
        }
    }
}