#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #fbf8f8;
  }
  
  .star {
    position: absolute;
    background-color: #055229;
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 68% 32%, 96% 50%, 68% 68%, 50% 100%, 32% 68%, 4% 50%, 32% 32%);
    animation: starPop 2500ms ease-in-out infinite alternate;
  }
  
  @keyframes starPop {
    from { transform: scale(1); opacity: 1; }
    to { transform: scale(7); opacity: 0; }
  }
  